<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>add sinh viên</title>
  </head>
  <body>
    <form class="" action="" method="post">
      <table>
        <tr>
          <td>Họ Tên</td>
          <td><input type="text" name="txtHoten" value=""></td>

        </tr>
        <tr>
          <td>Email</td>
          <td><input type="text" name="txtEmail" value=""></td>
        </tr>
        <tr>
          <td colspan="2">
            <input type="submit" name="btnLuu" value="Lưu">
          </td>
        </tr>
      </table>
    </form>
  </body>
</html>
